body {
	background-color: #EECBCB;
	text-align: center;
}
.title {
	font-family: 'Grand Hotel', sans-serif;
	font-size: 110px;
	color: white;
}
.username {
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 24px;
	text-transform: uppercase;
	color: white;
}
