<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>kittenlytics</title>
    <link href='../assets/index.css' rel='stylesheet'>
    <link rel='shortcut icon' type='image/png' href='../assets/favicon.png'/>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Grand+Hotel' rel='stylesheet' type='text/css'>
    <script src='https://wzrd.in/standalone/aristotle@latest'></script>
  </head>
  <body>
    <div class='title'>Kittenlytics</div>